<div class="jumbotron-fluid">
  <div class="container">
    <div class="loadbook" *ngIf="loadBooks">
    </div>
    <p class="lead" *ngIf="noResult">
      <strong>По вашему запросу ничего не найдено</strong>
    </p>
    <div *ngIf="receivedBooks.length > 0">
      <p class="lead alert alert-success"> <strong>Было найдено {{receivedBooks.length}} результатов по Вашему запросу</strong> </p>



      <div class="alert" *ngFor="let item of receivedBooks | orderBy ">
        <ul class="list-group">
          <li class="list-group-item marks" *ngIf="basket">
            <div class="popover popover-right" *ngIf="item.dialogForSave">
              <h3 class="popover-title">Минуточку...</h3>
              <div class="popover-content">
                <p>Книга с таким названием уже есть в корзине. Хотите продолжить?</p>
                <hr class="my-4">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-outline-info" (click)="goodSeasonDialog(item)">  <i class="fa fa-check" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-outline-danger" (click)="cancelDialog(item)"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-outline-info" *ngIf="!item.saveBook" (click)="saveBook(item)">  <i class="fa fa-bookmark-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-outline-warning" *ngIf="item.saveBook" (click)="unSaveBook(item)"><i class="fa fa-bookmark" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-outline-success" (click)="addSentence(item)"> <i class="fa fa-money" aria-hidden="true"></i></button>
          </li>
          <a href="{{item.url}}" target="_blank" class="list-group-item list-group-item-action list-group-item-info"><strong>{{item.name}}</strong></a>

          <li class="list-group-item">
            <p><img src="{{item.picture}}" class="res-pic rounded img-fluid d-block float-left" alt="{{item.name}}"> {{item.description}}
            </p>
          </li>
          <li class="list-group-item"> ISBN:
            <ol *ngFor="let isbn of item.tags"><a class="list-group-item-action active" (click)="clickForFind(isbn)">{{isbn}} <i class="fa fa-search-plus" ></i> </a></ol>
          </li>
          <li class="list-group-item"> Автор:
            <ol *ngFor="let author of item.author">
              <a class="list-group-item-action" (click)="clickForFind(author)">{{author}} <i class="fa fa-search-plus" aria-hidden="true"></i></a>
            </ol>
          </li>
          <li class="list-group-item ">Магазин: {{item.shop}}</li>
          <li class="list-group-item">Издание:
            <ol><a class="list-group-item-action" (click)="clickForFind(item.publisher)">{{item.publisher}} <i class="fa fa-search-plus" aria-hidden="true"></i></a></ol>
          </li>
          <li class="list-group-item list-group-item-success">Цена: <strong class="padding-text">{{item.price}}</strong> RUB.</li>
          <li class="list-group-item">
            <a href="{{item.url}}" target="_blank" class="list-group-item list-group-item-action list-group-item-info">Перейти в {{item.shop}}</a>
            <li class="list-group-item" *ngIf="item.cloneBook.length > 0">
              <div class="list-group mx-auto d-block max">
                <a class="list-group-item list-group-item-info flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">Совпадения по книгам</h6>
                    <small>{{item.cloneBook.length}}</small>
                  </div>
                  <small>Книги с одинаковым ISBN</small>
                </a>
                <a target="_blank" class="list-group-item flex-column align-items-start" *ngFor="let clone of item.cloneBook">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1"><a href="{{clone.url}}" target="_blank">{{clone.name}}</a></h5>
                    <small class="text-muted">{{clone.price}} RUB</small>
                  </div>
                  <p class="mb-1">
                    {{clone.shop}}

                  </p>
                  <p class="mb-1">
                    {{clone.publisher}}
                  </p>
                  <small class="text-muted" *ngIf="basket">
                    <div class="popover popover-right" *ngIf="clone.dialogForSave">
              <h3 class="popover-title">Минуточку...</h3>
              <div class="popover-content">
                <p>Книга с таким названием уже есть в корзине. Хотите продолжить?</p>
                <hr class="my-4">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-outline-info" (click)="goodSeasonDialog(clone)">  <i class="fa fa-check" aria-hidden="true"></i></button>
                  <button type="button" class="btn btn-outline-danger" (click)="cancelDialog(clone)"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
                       <button type="button" class="btn btn-outline-info" *ngIf="!clone.saveBook" (click)="saveBook(clone)">  <i class="fa fa-bookmark-o" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-outline-warning" *ngIf="clone.saveBook" (click)="unSaveBook(clone)"><i class="fa fa-bookmark" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-outline-success" (click)="addSentence(clone)"> <i class="fa fa-money" aria-hidden="true"></i></button>
    </small>
                </a>
              </div>
            </li>
        </ul>
      </div>
      <div class="shopping"><button routerLink="/shopping" type="button" class="btn btn-outline-secondary" *ngIf="basket"> <i class="fa fa-shopping-cart fa-4x" aria-hidden="true"></i><span class="badge badge-pill badge-default counter">{{marks.length}}</span></button></div>
    </div>

  </div>
</div>