
.res-pic{
    max-width: 200px;
	max-height: 300px;
    margin: 7px 7px 7px 0; 
}
        
.padding-text{
padding-left: 5px;
padding-right: 5px;
}
.margin-buttom{
margin-left: 2px;
}
.loadbook{
    position: absolute;
    z-index: 9999;
    display: block; 
    height: 100px;  
    width: 100px; 
    background-size: contain; 
    background-repeat: no-repeat;
    background-image: url("./../../../../public/book_loading.gif");
    margin-left:calc(~"50% - 70px"); 

}
.list-group-item-action{
    cursor: pointer;
}
.max{
    min-width: 100%;
}
.marks{
border: 0px;
    padding-top: 0rem;
    padding-right: 0rem;
    padding-bottom: 3px;
    padding-left: 0rem;
    
    button{
        margin-right: 2px;
    }
}
.shopping{
    position:fixed;
    right: 4;
    bottom: 4;
    .counter{
        position: absolute;
    right: 0;
    margin-top: 27px;
    margin-right: 20px;
    }

}
.popover{
margin-top: -1px;
}