<div class="container">
    <div class="jumbotron">
        <h1>ERROR 404</h1>
        <p>
        Unfortunately, there is no such page or it has been deleted...</p>
        <p><a class="btn btn-lg btn-success" routerLink="" role="button">Home page</a></p>
    </div>
</div>