.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;   
}          
.block {
    content: '';  
    display: inline-block; 
    height: 120px; 
    width: 120px; 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-image: url("./page_loading.gif");

}


.poiter{
    cursor: pointer
}

button{
    cursor: pointer;
}
