<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
  <a class="navbar-brand"   routerLink="">
    <img src="./../../../../public/search.png" width="30" height="30" class="d-inline-block align-top" alt=""> Bookle.localhost
  </a>
      </div>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" *ngIf="isLogin">
        <a class="nav-link" routerLink="/list">Закупки</a>
      </li>
       <li class="nav-item" routerLinkActive="active" *ngIf="isLogin">  
         <a class="nav-link" routerLink="/shopping">Корзина</a>
      </li>
    </ul>

    <login></login>
  </div>
  </nav>

  <router-outlet></router-outlet>

  <toaster-container [toasterconfig]="toasterconfig"></toaster-container>