<div class="container">
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-3">Закупки
			</h1>
			<i class="fa fa-refresh fa-spin fa-3x fa-fw fa-pull-right" *ngIf="updateFlag"></i>
			<hr class="my-4">
			<div class="lead">
				<div class="alert alert-warning" *ngIf="!flagUIStatus403">
					<h5>{{messageStatus403}}</h5>
				</div>
			</div>
			<div class="mx-auto" *ngIf="saveFlag">
				<button type="button" class="btn btn-lg btn-outline-success poiter" (click)="saveAndUpdateList()">Сохранить изменения <i class="fa fa-floppy-o" aria-hidden="true"></i>
</button>
			</div>
		</div>




	</div>
</div>
<div class="container" *ngIf="flagUIStatus403">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
			<a class="list-group-item list-group-item-info">
   Предложения
  </a>
			<div class="alert alert-info box" role="alert" *ngIf="items.length < 1 &&!loadFirst">
				<a routerLink="" class="alert-link">Добавте книгу</a> в <strong>закупки</strong> и она отобразится здесь.
			</div>

			<ul class="list-group">
				<div class="mx-auto" *ngIf="loadFirst"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
					<span class="sr-only">Loading...</span>
				</div>
				<div class="alert" *ngFor="let item of items">
					<li class="list-group-item" draggable [dragOverClass]="'drag-over-border'" [dragData]="item">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1" [ngClass]="{'delete-true': item.remove}"><a href="{{item._book.url}}" target="_blank">{{item._book.name}}</a></h5>
							<small class="text-muted"> 
								<span class="btn btn-outline-danger" *ngIf="item.remove"> <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></span>
							</small>
						</div>
						<div class="list-group-item-text">

							<p>ISBN:</p>
							<ul>
								<li *ngFor="let isbn of item._book.tags">{{isbn}}</li>
							</ul>
							<p> Магазин: {{item._book.shop}} </p>
							<p>Автор:</p>
							<ul>
								<li *ngFor="let author of item._book.author">{{author}}</li>
							</ul>
							<p>Издание: {{item._book.publisher}}</p>
							<p> Цена: {{item._book.price}} RUB.</p>
						</div>

					</li>
					<li class="list-group-item">
						<div class="d-block mx-auto">
							<button type="button" class="btn btn-outline-primary " (click)="cancelRemoveBook(item)" *ngIf="item.remove"> <i class="fa fa-ban fa-2x" aria-hidden="true"></i></button>
							<button type="button" class="btn btn-outline-danger" (click)="removeBook(item)" *ngIf="!item.remove"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button>
							<button type="button" class="btn btn-outline-primary" (click)="inProcurementList(item)" *ngIf="!item.remove"><i class="fa fa-share-square-o fa-2x" aria-hidden="true"></i></button>
						</div>
					</li>
				</div>
			</ul>
		</div>

		<div class="col-sm-12 col-md-12 col-lg-6 col-xl-6" droppable [dragOverClass]="'drag-target-border'" (onDrop)="onItemDrop($event)">
			<a class="list-group-item list-group-item-info">На закупку</a>

			<div class="alert alert-info box" role="alert" *ngIf="procurementList.length < 1&&!loadSecond">
				Для того чтобы <strong>добавить книгу</strong> в <strong>список закупок</strong> перенесите её в эту область из <strong>корзины</strong>				либо нажмите на соответствующую кнопку. <i class="fa fa-share-square-o" aria-hidden="true"></i>
			</div>
			<ul class="list-group">
				<div class="mx-auto" *ngIf="loadSecond"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
					<span class="sr-only">Loading...</span>
				</div>
				<div class="alert" *ngFor="let item of procurementList">
					<li class="list-group-item">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1" [ngClass]="{'delete-true': item.remove}"><a href="{{item._book.url}}" target="_blank">{{item._book.name}}</a></h5>
							<small class="text-muted"> 
								<span class="btn btn-outline-danger" *ngIf="item.remove"> <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></span>
								<span class="btn btn-outline-success" *ngIf="!item.status"> <i class="fa fa-check-square fa-2x" aria-hidden="true"></i></span>
							</small>
						</div>
						<div class="list-group-item-text">
							<p>ISBN:</p>
							<ul>
								<li *ngFor="let isbn of item._book.tags">{{isbn}}</li>
							</ul>
							<p> Магазин: {{item._book.shop}} </p>
							<p>Автор:</p>

							<ul>
								<li *ngFor="let author of item._book.author">{{author}}</li>
							</ul>

							<p>Издание: {{item._book.publisher}}</p>
							<p> Цена: {{item._book.price}} RUB. </p>
						</div>
					</li>
					<li class="list-group-item">
						<div class="d-block mx-auto"><button type="button" class="btn btn-outline-success " (click)="setSaleStatus(item)" *ngIf="!item.remove&&item.status"><i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i></button>
							<button type="button" class="btn btn-outline-primary" (click)="cancelRemoveProcList(item)" *ngIf="item.remove"><i class="fa fa-undo fa-2x" aria-hidden="true"></i></button>
							<button type="button" class="btn btn-outline-danger" (click)="removeItemProcList(item)" *ngIf="!item.remove"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></button></div>
					</li>
				</div>
			</ul>
		</div>

	</div>
</div>