<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="list-group">
            <a class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Индивидуальная корзина <i class="fa fa-refresh fa-spin fa-1x fa-fw fa-pull-right" *ngIf="updateFlag"></i></h5>
                    <small>{{marks.length}} товаров</small>
                </div>
                <p class="mb-1">Управляйте покупками. </p>
            </a>
            <div>
                <div class="alert alert-info" *ngIf="marks.length<1"><a routerLink="" class="alert-link">Добавте книгу</a> в <strong>корзину <i class="fa fa-shopping-cart" aria-hidden="true"></i></strong>                    и она отобразится здесь.</div>
                <div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let item of marks">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><a href="{{item._book.url}}"  target="_blank">{{item._book.name}}</a></h5>
                        <small class="text-muted">{{item._book.price}} р</small>
                    </div>
                    <div class="mb-1">

                        {{item._book.description}}

                    </div>
                    <div class="mb-1">
                        Магазин: {{item._book.shop}}
                    </div>
                <small class="text-muted">  <button type="button" class="btn btn-outline-warning" (click)="unSaveBook(item)"><i class="fa fa-times-circle" aria-hidden="true"></i></button></small>
            </div>
        </div>


    </div>
</div>
</div>