<div (click)="onBlur()">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1  class="display-5">Поиск книг</h1>
      <p class="lead">Введите название, автора, издателя, фрагмент описания либо номер книги.</p>
      <hr class="my-4">
      <div class="input-content">
        <div scroll [scrollClass]="'fix-inp'">
          <div class="input-group">
            <span (click)="activateSpeechSearchMovie()"class="input-group-addon poiter leftspan">
              <span class="addon" [ngClass]="{'caret': caret, 'onCaret': onCaret}"></span>
            </span>
            <input [class.input-load]="load" #inp type="text" name="subtitle" [(ngModel)]="text" class="form-control inp" placeholder="Enter book name or isbn"
              (keyup)="keyUp(inp.value,$event)" (keyup.enter)="onKey(inp.value)" (focus)="onFocus()" (focusout)="outFocus()">
            <span class="input-group-addon rightspan"><a class="poiter"><i (click)="search(text)" class="fa fa-search" aria-hidden="true"></i></a>
      </span>
          </div>
          <div class="ui_auto" *ngIf="voiceFlag">
            <div class="ui_item">{{voiceMessage}}</div>
          </div>
          <div class="ui_auto" *ngIf="didYouMean||suggestOptions.length>0">
            <div>
              <div class="ui_item list-group-item-action alert-warning " *ngIf="didYouMean" (click)="clickForSuggest(didYouMean)">Возможно, вы имели ввиду:<strong class="text-primary">  {{didYouMean}} </strong> <i class="fa fa-search" aria-hidden="true"></i></div>
              <div class="ui_item list-group-item-action" *ngFor="let item of suggestOptions" (click)="clickForSuggest(item.key)">
                <div class="suggest" (click)="plusSuggest($event,item.key,inp)"><i class="fa fa-plus poiter" aria-hidden="true"></i></div>
                <div class="d-inline auto_item_text">{{item.key}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <result (search)="search($event)" [text]="text" [noResult]="noResult" [loadBooks]="loadBooks" [receivedBooks]="receivedBooks"></result>
</div>


<modal #modalError>
  <modal-header>
    <p class="text-left">
      Голосовой поиск
    </p>
  </modal-header>
  <modal-body class="alert-danger">
    <strong>Внимание!</strong> Эта функция не поддерживается на вашем устройстве!
  </modal-body>
  <modal-footer>
    <button type="button" class="btn btn-danger" (click)="modal.close()">Понятно</button>
  </modal-footer>
</modal>

