.auto-complete li {
    z-index: 100;
}

.ui_auto {
    border: 1px solid #c5d0db;
    position: absolute;
    width: calc(~"100% - 16px - 1.5em");
    box-sizing: border-box;
    background-color: #fff;
    z-index: 101;
    border-radius: 0 0 3px 3px;
    display: block;
}

.ui_item {
    padding: 7px 12px;
    font-weight: 500;
    cursor: pointer;
}

.auto_item_text {
    padding-left: 22px;
}

.suggest {
    display: inline-block;
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #464a4c;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.caret::before {
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url('./../../../../public/voice.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.onCaret::before {
    content: '';
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: data-uri('./../../../../public/icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.input-load {
    background-image: url('./../../../../public/loading.gif');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 4px;
}

.inp {
    padding-left: 30px !important;
}

.input-content {
    width: inherit;
}

.fix-inp {
    position: fixed;
    top: 0;
    z-index: 1;
    width: inherit;
    .input-group {
        background-color: #eceeef;
    }
    @media (min-width: 576px) {
        .input-group {
            width: calc(~"100% - 72px");
            margin-left: 21px;
        }
        .ui_auto {
            margin-left: 21px;
            width: calc(~"100% - 49px - 1.5em");
        }
    }
    @media (max-width: 576px) {
        left: 0;
        width: 100%;
        .ui_auto {
            width: 100%;
        }
        .input-group-addon {
            background-color: white;
        }
        .input-group {
            .inp {
                padding-left: 36px !important;
            }
            input {
                border-radius: 0px 0px 5px 5px;
            }
            .leftspan {
                padding-right: 0px;
                padding-left: 0px;
                .addon {
                    position: absolute;
                    display: inline-block;
                    margin-left: 2px;
                    z-index: 100;
                }
            }
            .rightspan {
                padding-left: 0px;
                padding-right: 0px;
                a {
                    position: absolute;
                    right: 1px;
                    padding-bottom: 2px;
                    margin-right: 11px;
                    z-index: 100;
                }
            }
        }
    }
}