<form class="form-inline" *ngIf="formFlag"  #myLogin="ngForm" novalidate>
  <label class="sr-only" for="inlineFormInput">Login</label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" name="username" [(ngModel)]="username" placeholder="Login" required>

  <label class="sr-only" for="inlineFormInputGroup">Password</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <input type="password" class="form-control" id="inlineFormInputGroup" name="password" placeholder="Password" [(ngModel)]="pass" required>
  </div>
  <button type="submit" class="btn btn btn-outline-success" [disabled]="myLogin.invalid" (click)="login(myLogin)">Login</button>
</form>

<div class="navbar-form navbar-right" *ngIf="!formFlag">
	
	  <span class="badge"> {{profile}}  <button (click)="logout()" type="submit" class="btn btn-primary btn-sm">Log out</button></span>
</div>
